html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #FAFAFA;
    overflow-x: hidden;
}

a {
    color: #0b9adb !important;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
}

.ichtl-blue {
    color: #0b9adb;
}

.ichtl-white {
    color: #FAFAFA;
}

.ichtl-background-blue {
    background-color: #0b9adb;
}

h1.ichtl-font {
    margin-bottom: 0.5rem !important;
}

.ichtl-font {
    font-family: 'Iceberg', cursive;
}

header {
    width: 100vw;
    height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #212121;
    color: #FAFAFA;
    z-index: 10000;
}

main {
    padding-top: 60px;
}

#logo {
    flex: 1;
    margin-left: 16px;

    font-size: 36px;
    z-index: 9999;
}

#menuToggle {
    position: fixed;
    top: 0;
    right: 0;

    padding: 16px;

    z-index: 9999;
}

#mainNav {
    max-height: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #212121;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

header.open #mainNav {
    max-height: 400px;
    transition: max-height 0.30s ease-in;
}

#mainNav a {
    width: 100vw;
    height: 48px;

    color: #FAFAFA;
    line-height: 48px;
    text-decoration: none;
    text-align: center;
}

#mainNav a:first-child {
    margin-top: 76px;
}

#mainNav a:last-child {
    margin-bottom: 8px;
}

.split-row > div {
    flex: 1;
}

#headlinerImg {
    flex: 0 0 100%;
    height: calc(50vh - 60px);
}

#amenitySelector > .flex-row > .card:not(:first-child) {
    margin-left: 16px;
}

#amenitySelector .card {
    flex: 1;
}

#amenitySelector > .flex-row:not(:first-child) {
    margin-top:16px;
}

#activitySelector .card:not(:first-child) {
    margin-top: 16px;
}

#requestInfoForm {
    margin-top: 16px;
}

#requestInfoForm input:not(button),
#requestInfoForm .input-group-addon {
    margin-bottom: 16px;
}

#submitForm {
    margin: 0 auto;
    width: 125px;
    background-color: #0b9adb;
    color: #FAFAFA;
    font-size: 24px;
    font-weight: 500;
    padding-top: .1em;
    height: 48px;
}

footer {
    background-color: #212121;
    padding: 16px;
    color: #FAFAFA !important;
}

#contactFooter,
#socialMedia {
    list-style: none;
}

#contactFooter li {
    padding-left: 30px;
}

#contactFooter li > i {
    margin-right: 5px;
    float: left;
    margin-left: -30px;
    margin-top: 4px;
}

#socialMedia {
    padding: 0;
    text-align: center;
    margin: 16px 0 0 0;
}

#socialMedia li {
    display: inline;
}

#socialMedia li > a {
    background-color: #0b9adb;
    color: #FAFAFA !important;
    border-radius: 100px;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
}

#socialMedia li:not(:first-child) > a {
    margin-left: 8px;
}

/* APPLY TO AN H* ELEMENT! */
.call-section {
    background-color: #212121;
    color: #FAFAFA;
    text-align: center;
    width: 100vw;
    margin-left: -16px;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2);
    flex: 1;
    margin-bottom: 0;
    margin-right: -16px;
    height: 60px;
    line-height: 56px;
    padding: 0 16px;
}

#roomSelector > div {
    margin-top: 16px;
}

.card-img-overlay {
    pointer-events: none;
}

.card-title-overlay {
    background-color: rgba(21,21,21,0.7);
    height: 40px;
    line-height: 1.6;
    position: absolute;
    pointer-events: none;
    bottom: -16px;
    left: 0;
    right: 0;
}

#amenitySelector .card-title-overlay {
    height: auto;
}

.header-img {
    height: 275px;
    max-height: 275px;
}

/* Modal CSS */
.modal-dialog {
    padding-top: 59px !important;
}

.pg.art-suite,
.pg.deluxe-suite,
.ttl.art-suite,
.ttl.deluxe-suite {
    display:none !important;
}

.pg.show,
.ttl.show {
    display: block !important;
}

.modal-img-holder > img:not(:first-child) {
    margin-top: 16px;
}

#leftArrow a ,
#rightArrow a {
    color: #212121 !important;
}

.modal-btn {
    flex: 1;
    max-width: 200px;
    color: #FAFAFA !important;
}

/* Utility CSS */
.anchor-point {
    height: 0;
    width: 100vw;
    position: relative;
    top: -60px;
}

.content-holder {
    padding: 16px;
}

.header-img-tag,
hr {
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);

    border: 0;
    height: 1px;
    margin: 8px 0;
}

.header-img-tag {
    width: 100vw;
    text-align: center;
    margin: 0;
    height: auto;
    line-height: 35px;

}

.d-flex hr {
    flex: 0 0 1px;
    width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    #headlinerImg {
        height: auto;
    }

    .header-img {
        height: auto;
        max-height: 500px;
    }

    #roomSelector > div:first-child {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #roomSelector > div:not(:first-child) {
        margin-left: 16px;
    }

    #amenitySelector > .flex-row:not(:first-child) {
        margin-top: 0;
        margin-left: 16px;
    }

    #amenitySelector > .flex-row:not(:first-child) {
        margin-top: 0;
        margin-left: 16px;
    }

    #activitySelector .card:not(:first-child) {
        margin-top: 0;
        margin-left: 16px;
    }

    #activitySelector .card-title-overlay {
        height: auto;
        font-size: 1.25rem;
    }
}
