html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #FAFAFA;
    overflow-x: hidden;
}

a {
    color: #0b9adb !important;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
}

.ichtl-blue {
    color: #0b9adb;
}

.ichtl-white {
    color: #FAFAFA;
}

.ichtl-background-blue {
    background-color: #0b9adb;
}

.ichtl-background-black {
    background-color: #212121;
}

h1.ichtl-font {
    margin-bottom: 0.5rem !important;
}

.ichtl-font {
    font-family: 'Iceberg', cursive;
}

header {
    width: 100vw;
    height: 60px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: #212121;
    color: #FAFAFA;
    z-index: 10000;
}

main {
    padding-top: 60px;
}

#logo {
    flex: 1;

    margin-left: 16px;

    font-size: 36px;
    z-index: 9999;
}

#menuToggle {
    position: fixed;
    top: 0;
    right: 0;

    padding: 16px;

    z-index: 9999;
}

#mainNav {
    flex: 3;
    justify-content: flex-start;
}

#mainNav a {
    margin: 0 16px;

    color: #FAFAFA !important;
}

#mobileNav {
    max-height: 0;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: #212121;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

header.open #mobileNav {
    max-height: 400px;

    transition: max-height 0.30s ease-in;
}

#mobileNav a {
    width: 100vw;
    height: 48px;

    color: #FAFAFA;
    line-height: 48px;
    text-decoration: none;
    text-align: center;
}

#mobileNav a:first-child {
    margin-top: 76px;
}

#mobileNav a:last-child {
    margin-bottom: 8px;
}

.split-row > div {
    flex: 1;
}

#headlinerImg {
    height: calc(50vh - 60px);
    flex: 0 0 100%;
}

#amenitySelector > .flex-row > .card:not(:first-child) {
    margin-left: 16px;
}

#amenitySelector .card {
    flex: 1;
}

#amenitySelector > .flex-row:not(:first-child) {
    margin-top:16px;
}

#activitySelector .card:not(:first-child) {
    margin-top: 16px;
}

#requestInfoForm {
    margin-top: 16px;
}

#requestInfoForm input:not(button),
#requestInfoForm .input-group-addon {
    margin-bottom: 16px;
}

#submitForm {
    width: 125px;
    height: 48px;

    margin: 0 auto;
    padding-top: .1em;

    background-color: #0b9adb;
    color: #FAFAFA;
    font-size: 24px;
    font-weight: 500;
}

footer {
    padding: 16px;

    background-color: #212121;
    color: #FAFAFA !important;
}

#contactFooter,
#socialMedia {
    list-style: none;
}

#contactFooter li {
    padding-left: 30px;
}

#contactFooter li > i {
    margin-right: 5px;
    margin-left: -30px;
    margin-top: 4px;

    float: left;
}

#socialMedia {
    margin: 16px 0 0 0;
    padding: 0;

    text-align: center;
}

#socialMedia li {
    display: inline;
}

#socialMedia li > a {
    width: 48px;
    height: 48px;

    background-color: #0b9adb;
    border-radius: 100px;
    color: #FAFAFA !important;
    line-height: 48px;
    text-align: center;
}

#socialMedia li:not(:first-child) > a {
    margin-left: 8px;
}

/* APPLY TO AN H* ELEMENT! */
.call-section {
    width: 100vw;
    height: 60px;

    flex: 1;

    margin-right: -16px;
    margin-bottom: 0;
    margin-left: -16px;

    padding: 0 16px;

    background-color: #212121;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2);
    color: #FAFAFA;
    line-height: 56px;
    text-align: center;
}

#roomSelector > div {
    margin-top: 16px;
}

.card-img-overlay {
    pointer-events: none;
}

.card-title-overlay {
    height: 40px;

    position: absolute;
    right: 0;
    bottom: -16px;
    left: 0;

    background-color: rgba(21,21,21,0.7);
    line-height: 1.6;
    pointer-events: none;
}

#amenitySelector .card-title-overlay {
    height: auto;
}

.header-img {
    height: 275px;
    max-height: 275px;
}

#copyright {
    font-size: 11px;
}

/* Modal CSS */
.modal-dialog {
    padding-top: 59px !important;
}

.pg.art-suite,
.pg.deluxe-suite,
.ttl.art-suite,
.ttl.deluxe-suite {
    display:none !important;
}

.pg.show,
.ttl.show {
    display: block !important;
}

.modal-img-holder > img:not(:first-child) {
    margin-top: 16px;
}

#leftArrow a ,
#rightArrow a {
    color: #212121 !important;
}

.modal-btn {
    max-width: 200px;
    flex: 1;

    color: #FAFAFA !important;
}

/* Utility CSS */
.anchor-point {
    width: 100vw;
    height: 0;

    position: relative;
    top: -60px;
}

.content-holder {
    padding: 16px;
}

.header-img-tag,
hr {
    height: 1px;

    margin: 8px 0;

    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    border: 0;
}

.header-img-tag {
    width: 100vw;
    height: auto;

    margin: 0;

    line-height: 35px;
    text-align: center;
}

.d-flex hr {
    width: 100%;
    flex: 0 0 1px;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    #headlinerImg {
        height: auto;
    }

    .header-img {
        height: auto;
        max-height: 500px;
    }

    #logo {
        flex: none;
    }

    #roomSelector > div:first-child {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #roomSelector > div:not(:first-child) {
        margin-left: 16px;
    }

    #amenitySelector > .flex-row:not(:first-child) {
        margin-top: 0;
        margin-left: 16px;
    }

    #amenitySelector > .flex-row:not(:first-child) {
        margin-top: 0;
        margin-left: 16px;
    }

    #activitySelector .card:not(:first-child) {
        margin-top: 0;
        margin-left: 16px;
    }

    #activitySelector .card-title-overlay {
        height: auto;
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1024px) {

    body {
        background-color: #2d2d2d;
    }

    main,
    footer {
        width: 960px;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }

    main {
        background-color: #FAFAFA;
        box-shadow: 0 0 18px 7px rgba(0,0,0,0.5);
    }

    footer {
        box-shadow: 0 9px 18px 7px rgba(0,0,0,0.5);
    }

    .call-section {
        width: 960px;
        margin-right: -16px;
        margin-left: -16px;
    }

    .header-img {
        max-height: 760px;
    }

    #searchHolder {
        width: 255px;
        margin-right: 16px;
    }

    #searchHolder input {
        max-width: 200px;
        border: none;
        border-radius: 30px 0 0 30px;
    }

    #searchHolder button {
        background-color: #FFFFFF;
        border: none;
        border-radius: 0 30px 30px 0;
    }
}

@media only screen and (min-width: 2560px) {
    main,
    footer {
        width: 1140px;
        max-width: 1140px;
    }

    .call-section {
        width: 1140px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FFFFFF; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
