<h1 class="text-center ichtl-font" style="margin-top: 16px;">Northern Lights</h1>
<p>Aurora Borealis, the Northern Lights, can be seen in Jukkasjärvi between September and March.</p>
<p>The best place to see it is in the wilderness, away from artificial light. Join us on our Northern Lights Safari
    where we walk out to our Camp Aurora. Our guide explains how the northern lights appear, what causes it and
    the folklore around the phenomenon.</p>
<p>Around a campfire you will be served traditional “Swedish Fika” (coffee served with something sweet).</p>

<div class="additional-info">
    <h3>Time & Price</h3>
    <ul>
        <li>Duration: 3 hrs</li>
        <li>Price: SEK 995/person</li>
        <li>Available 20 August – 15 December</li>
        <li>Difficulty: Easy</li>
    </ul>
</div>
