<h1 class="text-center ichtl-font" style="margin-top: 16px;">Bar</h1>
<p>ICEBAR BY ICEHOTEL has moved beyond Jukkasjärvi. You can find our icebars in several big cities around the world,
    where you can have a drink in a below-freezing setting, surrounded by the ice from the Torne River. Sometimes in
    the form of pop up bars that only exist for a limited amount of time and sometimes as a permanent addition to
    the city’s nightlife. Right now you can find Icebar by Icehotel in Jukkasjärvi, Stockholm and London.</p>
<p>No matter where you visit us, the place, as well as glasses, is made entirely out of ice from the Torne River.
    The design of the bars is created by known artists from around the world changing from year to year ­ just
    like the design of Icehotel.</p>