<h1 class="text-center ichtl-font" style="margin-top: 16px;">Fishing</h1>
<p>The Torne River water is so clean we can drink it straight.</p>
<p>It is also one of Europe’s best fishing waters. Trout, Grayling, Whitefish, Perch and Pike are some of the natural
    varieties you may catch.</p>

<div class="additional-info">
    <h3>Time & Price</h3>
    <ul>
        <li>Duration: 3 hrs</li>
        <li>Price: SEK 995/person</li>
        <li>Available from 15 Jun – 1 Sept</li>
        <li>Difficulty: Easy</li>
    </ul>
</div>

