<h1 class="text-center ichtl-font" style="margin-top: 16px;">Meet Reindeer</h1>
<p>The Sámi people inhabitated northern Scandinavia long before the city of Kiruna was founded. For thousands of years,
    they’ve lived in harmony with nature and their reindeer, constantly moving in search of food for the herd.
    Nils Nutti is Sámi and through his business Nutti Sámi Siida, he lets curious visitors get a close encounter
    with his culture. Meet the reindeer, tast the food and try driving the reindeer sled.</p>
<p>Join our Sámi guide to the reindeer camp for an encounter with the reindeer and Sámi culture. Try a reindeer sled
    ride around a short track and hand-feed the curious calves. Get a brief insight into the Sámi lifestyle and
    culture over a hot coffee and delicious “souvas”, the Sámi signature dish, around the roaring fire in the
    traditional tent. Transfers are included in the price.</p>

<div class="additional-info">
    <h3>Duration</h3>
    <ul>
        <li>Duration: 3hrs</li>
        <li>Transfer is included in the price</li>
    </ul>
</div>