<h1 class="text-center ichtl-font" style="margin-top: 16px;">Restaurant</h1>
<p>The dining room and cocktail bar is warm and traditional – an escape from the sub-zero degrees, but still letting
    our ice and surroundings take center stage. Sourcing our ingredients from the local area, we serve delicacies
    like reindeer, moose, Arctic char and bramble berries, prepared by Michelin-trained head chef Alexander Meier
    and his team. Choose from the a la carte menu or pre-book one of our specially crafted dining experiences –
    chef’s table, ice dining or wilderness dinner.</p>
<p>Icehotel was ranked the top restaurant in Kiruna and top three in Swedish Lapland in White Guide 2016 & 2017;
    Scandinavia’s most comprehensible restaurant guide.</p>
<p>The international kitchen brigade and head chef Alexander Meier, who trained at two star restaurant Le Béarn, put
    a cosmopolitan twist to the local ingredients, sourced from the region’s rivers, mountains, marshes and forests.
    The beautiful Torne river ice adds an element to your dinner in the shape of table décor, dishes or bowls.</p>
<p>We have fixed dinner seating times and recommend you make table reservations at least three weeks in
    advance (December to April).</p>