<h1 class="text-center ichtl-font" style="margin-top: 16px;">Sauna</h1>
<p>In Swedish Lapland, the sauna is the heart of the home, a place for peacefulness, relaxation and meditation.
    ”Kallebastun”, Jukkasjärvi Culture Sauna, is the cradle of the Swedish Sauna Academy, and was made an
    institution by enthusiast Kalle Grundberg. Now our own “Sauna Master” Andreas Hermansson has created a
    ten-step sauna ritual where you gain the skills to sauna like a Scandinavian.</p>
<p>– includes a river plunge and a thorough cleansing of mind and body</p>