<h1 class="text-center ichtl-font" style="margin-top: 16px;">Dog Sledding</h1>
<p>This hands-on tour lets you to drive your own team of Alaskan huskies. After an introduction to equipment and
    safety, the journey through the winter landscape begins. Heading out across the snowy plains is a
    feeling of freedom.</p>
<p>Halfway through the tour, a traditional lunch is served at a cosy wilderness camp. After the break you begin
    your return back to the kennel, where you help unharnessing the dogs and are driven back to Icehotel.</p>
<p>Choose to come along as a driver or passenger.</p>

<div class="additional-info">
    <h3>Time & Price</h3>
    <ul>
        <li>Duration: 4 hrs</li>
        <li>Departure times: Daily, 11:15 am - 3:15 pm</li>
        <li>Price: SEK 3 950 per person – as a driver. SEK 2 995 – as a passenger</li>
    </ul>
</div>